.projectDescription{
    height: 330px;
    overflow: scroll;
    border-radius: .4rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}



.projectDescription::-webkit-scrollbar{
    display: none;
}

.projectImage{

    transition: transform .2s ease;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}

.projectImage:hover{

    transform: scale(1.02);
    cursor: pointer;
}