.summaryBox {
  height: 300px;
  width: 450px;
  scroll-behavior: smooth;
  overflow: scroll;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.summaryBox::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 768px) {
  .summaryBox {
    height: 400px;
    width: 320px;
  }
}
