.divider {
  border-right: 2px solid black;
}
.nameInputField {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.nameInput {
  outline: none;
  border: none;
  background: transparent;
}
.nameInput:focus {
  outline: none;
}

input[type="radio"] {
  display: none;
}
.quizsettingrightAnimation{
  display: none;
}
.choosedRightCategoryName{
  display: none;
}




/* Custom styling for the radio button appearance */
.custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffd700; /* Yellow border */
  position: relative;
  margin-right: 10px;
}

/* Style for checked state */
input[type="radio"]:checked + .custom-radio::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffd700; /* Yellow background */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chooseLevel {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */


    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.rightSideQuizSetting{
  padding: 1px 25px;

}
.changeCategoryRightButton{
  display: none;
}
@media only screen and (max-width: 768px) {
  /* .chooseLevel {
    box-shadow: none;
  } */
  .divider {
    border: none;
  }
  .rightSideQuizSetting{
    padding: 1px 5px;
  
  }

  .quizsettingrightAnimation{
    display: block;
  }
 .quizsettingleftAnimation{
  display: none;
 }


 .choosedRightCategoryName{
  display: block;
 }
 .choosedLeftCategoryName{
  display: none;
 }
.rightAnimationSize{
  height: 200px;
}



 .changeCategoryLeftButton{
  display: none;
 }
 .changeCategoryRightButton{
  display: block;
 }
}
